/* Reset styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Global styles */
body {
	font-family: Arial, sans-serif;
	line-height: 1.5;
}

nav {
	background-color: #333;
}

nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 50px;
	list-style: none;
}

nav ul li {
	margin: 0 20px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

#hero {
	background-image: url(hero1.png);
	background-size: cover;
	background-position: center;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
}

#hero h1 {
	font-size: 4rem;
	margin-bottom: 20px;
}

#hero p {
	font-size: 1.5rem;
	margin-bottom: 20px;
}

#hero button {
	background-color: #f39c12;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 1.2rem;
	cursor: pointer;
}

#services {
	padding: 50px;
	background-color: #f9f9f9;
}

#services h2 {
	font-size: 2.5rem;
	margin-bottom: 20px;
	text-align: center;
}

#services ul {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	list-style: none;
	margin-top: 50px;
}

#services button {
	width: 30%;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(120,54,30,0.1);
	border-radius: 5px;
}

#services h3 {
	font-size: 1.5rem;
	margin-bottom: 10px;
}

#gallery {
	padding: 50px;
	background-color: #f9f9f9;
}

#gallery h2 {
	font-size: 2.5rem;
	margin-bottom: 20px;
	text-align: center;
}

.gallery-item {
	width: 30%;
	margin-bottom: 50px;
}

.gallery-item img {
	width: 100%;
	height: auto;
	border-radius: 5px;
}

.gallery-item h3 {
	font-size: 1.5rem;
	margin-top: 20px;
	margin-bottom: 10px;
}

.gallery-item p {
	font-size: 1rem;
	color: #999;
	line-height: 1.5;
	margin-bottom: 20px;
}
